* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100dvh;

  display: flex;

  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 560px) {
    background-image: unset;
  }
}

.main {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.sidebar {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 100px;
}

.sidebar input {
  width: 200px;
}

button {
  width: max-content;
  border: none;
  border-radius: 4px;
  color: #000;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 5px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 2rem 1rem;

  font-family: "Courier New", Courier, monospace;
  
  color: #fff;
}

input {
  all: unset;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 5px;
  width: 120px;
  background: #fff;

  color: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

label {
  display: inline-block;
  font-size: 14px;
  width: fit-content;

  font-weight: bold;

  color: #fff;
}

#color-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  max-width: 600px;
  width: auto;
  cursor: pointer;

  gap: 2px;
}

.color-pick {
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  box-sizing: border-box;
}

.color-pick.selected-color {
  padding: 13px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.pixel {
  border: 1px solid #5f5f5f;
  box-sizing: border-box;

  cursor: pointer;
}

.pixel.no-border {
  border: none;
}

#pixels-container {
  border: 1px solid #3f3f3f;
  display: flex;
  flex-direction: column;

  background: #fff;
}

.row {
  display: flex;
}

.header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-sizing: border-box;
  border: 1px solid #5f5f5f;
  pointer-events: none;
  user-select: none;
}